.picture {
  width: 100%;
  text-align: center;
}

.picture__main {
  width: 80%;
  margin: auto;
  display: flex;
  height: 80vh;
  padding: 10px;
  border: 2px solid black;
}

.picture__main-img {
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  position: relative;
  border-right: 2px solid black;
}

.picture__main-img img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 10px;
}

.picture__right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  padding: 20px;
  justify-content: space-between;
}

.picture__right img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.picture__user {
  display: flex;
}

.picture__user h2 {
  font-size: 2em;
  margin: 0 30px;
  text-align: center;
}

.picture__comments {
  padding: 10px;
  margin: 20px;
  box-shadow: 2px 2px 2px rgba(134, 131, 131, 0.8),
    -2px -2px 2px rgba(92, 92, 92, 0.8);
  overflow-y: scroll;
  min-height: 300px;
}

.picture__comments-main {
  border: 1px solid black;
  display: flex;
  margin: 10px 0;
  border-radius: 10px;
}

.picture__comments-main > p {
  font-size: 20px;
  font-style: italic;
  margin-left: 20px;
}

.picture__comments-name img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.picture__comments-name {
  display: flex;
  font-weight: 700;
}

.picture__comments-name {
  margin: 10px;
}

.picture__right form {
  width: 100%;
  display: flex;
}

.picture__right form input {
  width: 70%;
  padding: 10px;
  font-size: 15px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.picture__right form button {
  width: 15%;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

button:focus,
input:focus {
  outline: none;
}

.picture__right form div {
  display: flex;
}

.picture__input img {
  width: 50px;
  height: 50px;
}

.picture__input p {
  margin: 5px;
}
